*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: solid 1px red; */
}
header {
    background: #2a2c2e;
    color: #ececec;
    padding: 0.5rem 15%;
    text-align: center;
    display: grid;
    grid-template-columns:1fr;
    margin: -10px;
  }
  
  
  nav ul {
    padding: 15px 15px;
    display: flex;
    justify-content: flex-end;

  }
  
  nav ul li {
    display: inline-block;
    margin: 0 0.5rem;

  }
  
  nav a {
    color: #ececec;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
  }
  
  nav a:hover {
    color: #4857de;
    transition: 0.3s;
  }

  .bio-image{
    padding-top: 130px;
    display: flex;
    grid-template-columns:1fr 1fr;
    justify-content: center;

    
  }
  .bio-image img{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    width: 400px;
    height: 400px;

  }
  .bio-image p{
    padding-top: 60px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    width: 500px;
    height: 500px;
  }

  footer{
    background: #2a2c2e;
    color: #ececec;
    /* padding: 0.5rem 15%; */
    text-align: center;
    display: grid;
    grid-template-columns:1fr;
    height: 100px;
    width: 100%;
  }
  